.fab {
    top: auto;
    right: 20px;
    bottom: 20px;
    left: auto;
    position: fixed;
}
.example-card {
  margin-bottom: 20px;
}
.example-header-image {
  background-size: cover;
}

.outer-div {
    padding: 30px;
}
.post-icon {
    color: rgba(0,0,0,.54);
}
.fill-remaining {
    flex: 1 1 auto;
}
md-card-actions {
    display: flex;
}