
<div class="outer-div">
  <md-card class="example-card" *ngFor="let post of posts">
    <md-card-header>
      <div md-card-avatar class="example-header-image"></div>
      <md-card-title>{{post.pet.name}}</md-card-title>
      <md-card-subtitle>{{post.pet.owner.name}}</md-card-subtitle>
    </md-card-header>
    <img md-card-image src="{{post.image}}">
    <md-card-actions>
      <button md-icon-button><md-icon class="post-icon">favorite_border</md-icon></button>
      <button md-icon-button><md-icon class="post-icon">insert_comment</md-icon></button>
      <span class="fill-remaining"></span>
      <button md-icon-button><md-icon class="post-icon">more_horiz</md-icon></button>
    </md-card-actions>
  </md-card>
</div>

<button md-fab class="fab">
    <md-icon>add</md-icon>
</button>